In [1]:
import numpy as np
import pandas as pd

In [2]:
d={"A":[1,2,3],"B":[2,2.5,np.nan],"C":[5,np.nan,np.nan]}
df=pd.DataFrame(d)
df

   A    B    C
0  1  2.0  5.0
1  2  2.5  NaN
2  3  NaN  NaN

# dropna 
used to drop nan values

In [3]:
df.dropna()

   A    B    C
0  1  2.0  5.0

In [5]:
df.dropna(axis=1)

   A
0  1
1  2
2  3

In [7]:
df.dropna(thresh=2)

   A    B    C
0  1  2.0  5.0
1  2  2.5  NaN

In [8]:
df.fillna(value="FILL")

   A     B     C
0  1   2.0   5.0
1  2   2.5  FILL
2  3  FILL  FILL

In [10]:
df["B"].fillna(value=df["B"].mean())

0    2.00
1    2.50
2    2.25
Name: B, dtype: float64